<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-12 box-col-12">
            <div class="card height-equal">
                <div class="card-header total-revenue card-no-border">
                    <h4>Promotion List</h4>
                    <div class="d-flex align-items-center gap-2"><a (click)="exportToExcel()">📤 ดาวน์โหลด Excel</a>
                    </div>
                </div>
                <div class="list-product-header ml-2 mr-2" style="margin-left: 20px; margin-right: 20px;">
                    <div>
                        <div class="card card-body list-product-body">
                            <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2 g-3">
                                <div class="col">
                                    <label  class="form-label">เริ่มต้น</label>
                                    <input [(ngModel)]="from" class="form-control" type="date">
                                </div>
                                <div class="col">
                                    <label class="form-label">สิ้นสุด</label>
                                    <input [(ngModel)]="to" class="form-control" type="date">
                                </div>
                                <div class="col">
                                    <label style="color: white;" class="form-label">.</label>
                                    <button (click)="Search()" class="form-control btn btn-primary btn-block">ค้นหา</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="table-order table-responsive custom-scrollbar">
                        <table class="table table-striped data-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Promotion Name</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Expire</th>
                                    <th scope="col">TotalPrice</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of promotioninfo">
                                    <th scope="row">{{item.id}}</th>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.active | date: 'dd/MM/yyyy(HH:mm)'}}
                                    </td>
                                    <td>
                                        {{item.expired | date: 'dd/MM/yyyy(HH:mm)'}}
                                    </td>
                                    <td>
                                        {{item.totalprice}}
                                    </td>
                                    <td>
                                        <button (click)="pop(item.id)" class="btn btn-primary btn-sm">รายละเอียด</button>
                                    <td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #secondDialog let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">โปรโมชั่น</h4>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h4>โปรโมชั่น : {{promotionlist[0].name}}</h4>
                <p class="mt-1 f-m-light">สินค้าในรายการโปรโมชั่นนี้
                </p>
            </div>
            <div class="card-body">
                <table class="table table-striped data-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">สินค้า</th>
                            <th scope="col">จำนวนในโปรโมชั่น</th>
                            <th scope="col">Total StockOnHand0</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of promotionlist; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>
                                {{item.goodname}}
                            </td>
                            <td>
                                {{item.amou}}
                            </td>
                            <td>
                                {{item.stock}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark font-fam" (click)="c('Close click')">ปิด</button>
    </div>
</ng-template>