<div class="card">
  <div class="card-header card-no-border total-revenue">
    <h4>Stock LifeShine</h4><a>📤 ดาวน์โหลด Excel</a>
  </div>
  <div class="card-body pt-0">
    <div class="table-order table-responsive custom-scrollbar">
      <table class=" w-100 tranaction-table">
        <thead>
          <tr>
            <th>สินค้า</th>
            <th>StockOnHand0</th>
            <th>StockOnHand1</th>
            <th>StockOnHand2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="product-name">
                <a class=" f-14 f-w-500" [routerLink]="['/ecommerce/products']">546546</a>
              </div>
            </td>
            <td>
              <div class="product-name">
                <a class=" f-14 f-w-500" [routerLink]="['/ecommerce/products']">546546</a>
              </div>
            </td>
            <td>
              <div class="product-name">
                <a class=" f-14 f-w-500" [routerLink]="['/ecommerce/products']">546546</a>
              </div>
            </td>
            <td>
              <div class="product-name">
                <a class=" f-14 f-w-500" [routerLink]="['/ecommerce/products']">546546</a>
              </div>
            </td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
</div>